* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  Roboto, Courier, monospace;
}

body {
    color: #ebe9e9;
    background-color: #121212;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #ebe9e9;
    color: #121212;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}



.logo {
    font-size: 25px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
}

.navbar {
    display: flex;
    gap: 35px;
}

.navbar a {
    font-size: 25px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    transition: .3s;
}

.navbar a:hover {
    color: rgb(19, 241, 74);
}

.header-buttons {
    display: flex;
    gap: 15px;
}

.theme-toggle {
    background: none;
    border: none;
    font-size: 25px;
    color: #ffffff;
    cursor: pointer;
    transition: color 0.3s;
}

.btn-cv {
    display: inline-block;
    padding: 12px 28px;
    background: rgb(19, 241, 74);
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    text-decoration: none;
    font-weight: 500;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    background: transparent;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}
#home {
    background: #121212(184, 182, 182);
    height: 100%;
}
.home-content {
    max-width: 700px;
}

.home-content h3 {
    font-size: 25px;
    font-weight: 700;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
}

.home-content p {
    font-size: 20px;
}

.home-sci {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.home-sci a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(19, 241, 74);
    border-radius: 50%;
    color: rgb(19, 241, 74);
    text-decoration: none;
    font-size: 30px;
    transition: background 0.3s, color 0.3s, box-shadow 0.3s;
}

.home-sci a:hover {
    background: rgb(19, 241, 74);
    color: #081b29;
    box-shadow: 0 0 20px rgb(19, 241, 74);
}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: rgb(19, 241, 74);
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 500;
    transition: box-shadow 0.3s;
}


.btn-box:hover {
    box-shadow: 0 0 5px rgb(190, 223, 223),
                0 0 25px rgb(190, 223, 223),
                0 0 50px rgb(190, 223, 223);
}

.btn-cv:hover {
    box-shadow: 0 0 5px rgb(190, 223, 223),
                0 0 25px rgb(190, 223, 223),
                0 0 50px rgb(190, 223, 223);
}

/* Typing Effect */
.typed-text {
    font-family: 'Courier New', Courier, monospace;
    color:rgb(19, 241, 74);
    font-size: 40px;
    font-weight: bold;
}

.cursor {
    display: inline-block;
    background-color: rgb(19, 241, 74);
    width: 5px;
    margin-left: 2px;
    animation: blink 0.7s infinite;
}

.cursor.typing {
    animation: none;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

/* About Section */
.about {
    padding: 70px 10%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: transparent;
}
.section-title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 50px; /* Adjust margin as needed */
}

.about-container {
    display: flex;
    gap: 50px;
}

.about-img img {
    max-width: 200px;
    border-radius: 10px;
}

.about-summary h3 {
    font-size: 40px;
    line-height: 1.5;
    text-align: left;
    color: rgb(19, 241, 74);
    font-family: 'Courier New', Courier, monospace;
}
.about-summary h1 {
    font-size: 60px;
    line-height: 1.5;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
}
.about-summary about {
    font-size: 20px;
    line-height: 2;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
}

/* Skills Section */

.skills {
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: transparent; /* Add your desired background color */
    padding: 50px 0;
}

.skills h1{
    font-size: 60px;
}

.section-title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    justify-content: center;
}

.skills-container {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background-color:#9e999c;
    box-shadow:  0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 1vw;
    border-radius: 15px;
    width: 60%;
    margin: auto;
}

.skill-card {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
    gap: 10px;
    z-index: 5;
    transition: all 0.3s ease-in-out;
}
.skill-card:hover {
    transform: scale(1.1);
}

.skill-card_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

.skill-card_svg-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

/* Projects section */
.projects{
    width: 100%;
    height: 100vh;
    padding: 70px 10% 0;
}

.project-title{
    text-align: center;
    font-size: 60px;
}

.projects-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    display: grid;
    grid-template-columns: 1fr auto 1fr; /* Divide the space into three columns */
    align-items: center;
    position: relative;
}


.slide-container {
    height: 100%;
    position: relative;
    overflow-x: hidden;
    transition: transform 0.5s ease;
}


.project {
    margin: 30px;
    margin-bottom: 20px;
    padding: 10px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    align-items: center;    
}


.project-content {
    position: relative;
    grid-column: 1 / 7;
    grid-row: 1 / -1;
    display: block;
    unicode-bidi: isolate;
}


.project-content h3 {
    font-size: 30px;
    margin: 10px 0 30px;
    color: rgb(19, 241, 74);
    display: block;
}


.project-descr {
    font-size: 18px;
    color: rgb(19, 241, 74);
    line-height: 1.3;
    text-align: justify;
    display: block;
    unicode-bidi: isolate;
}


.project-descr p {
    border-radius: 0.5rem;
    background-color: rgb(32, 107, 42);
    color: #fff;
    padding: 20px 25px;
    display: inline-block;
    max-width: 100%;
    text-align: justify;
    margin: 0;
    white-space: normal;
}


.project-descr ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}


.project-descr ul li {
    list-style-type: none;
    margin: 0px 20px 5px 0px;
}


.project-descr ul li a {
    font-size: 30px;
}


.project-image {
    position: relative;
    z-index: -1;
    border-radius: 0.5rem;
    transform: translateY(-0.5rem);
    background: linear-gradient(0.4turn, rgb(19, 241, 74), rgb(22, 97, 41));
    grid-column :6 / -1 ;
    grid-row: 1 / -1;
    box-shadow: #71ff84;
    overflow: hidden;
}

.project-image img{
    vertical-align: middle;
    border-radius: 0.5rem;
    position: relative;
    mix-blend-mode: multiply;
    filter: grayscale(100%) contrast(1);
    max-width: 100%;
    box-shadow: rgb(19, 241, 74);
    max-width: 100%;
    height: auto;
}


.dots_container{
    display: flex;
    justify-content: center;
    gap: 8px;
    padding-top: 10px;
}


.slider-dot {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
    transition: transform .1s ease;
}


.active-dot {
    background-color: rgb(19, 241, 74);
}



.back-button {
    grid-column: 1/ 2; /* Adjusted to align right */
    grid-row: 1 / 2;
    justify-self: center; /* Center horizontally */
}


.next-button {
    grid-column: 3 / -1; /* Adjusted to align left */
    grid-row: 1 / 2;
    justify-self: center; /* Center horizontally */
}




.project:hover {
    transform: scale(1.1);
}
/* workshps section*/
.workshop{
    width: 100%;
    height: 100vh;
    padding: 70px 10% 0;;
}
.workshop span{
    font-size: 20px;
    display: block;
    text-align: center;
}

.workshop h2{
    color: rgb(19, 241, 74);
    font-weight: 750;
    text-align: center;
    font-size: 40px;
}
.tabs{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: left;
}
.tabs > input{
    display: none;
}

.tabs > input:checked + label{
    background-color: rgba(3, 77, 3, 0.33);
}
@media only screen and (max-width: 1239px) {
    .tabs label {
        display: block;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        width: calc(100% / 4);
        height: auto;
        padding: 15px 0 20px;
        text-align: center;
    }
}
.tabs label {
    position: relative;
    order: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    width: 325px;
    height: calc(500px / 8);
    padding: 10px 15px;
    margin-bottom: 0;
    background-color: #fffffff0;
    cursor: pointer;
    transition: background-color 500ms ease-in-out;
}

.tabs label a{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 30px;
}

.tabs > input:checked + label + .tab-content{
    display: block;
}
@media only screen and (max-width: 1239px) {
    .tabs .tab-content {
        order: 2;
        position: relative;
        width: 100%;
    }
}

.tabs .tab-content {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 325px);
    padding: 0;
    margin: 0;
    display: none;
}

.tabs .tab-content > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    background-color: #fff;
    background-image: url(https://portimgbucky.s3.us-west-2.amazonaws.com/images/noise-50.png);
    color: #3a7542;
}
@media only screen and (max-width: 1239px) {
    .tabs .tab-content > div > div {
        width: 50%;
        height: auto;
    }
}
.tabs .tab-content > div > div {
    height: 500px;
    color: #3a7542;
}
@media only screen and (max-width: 1239px) {
    .tabs .txt-tab {
        min-height: 25vh;
    }
}

.tabs .txt-tab {
    display: flex;
    display: table-cell;
    vertical-align: middle;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 50%;
    padding: 4vh calc(2vw + 15px);
    
}
.txt-tab p {
    display: block;
    font-size: 1.5em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.txt-tab h3 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
@media only screen and (max-width: 1239px) {
    .tabs .tab-content > div > div {
        width: 50%;
        height: auto;
    }
}
.tabs .img-tab1 {
    background-image: url(data/hackathon.jpg);
}
.tabs [class*="img-tab"] {
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    min-height: 35vh;
}

